/* https://git.sr.ht/~mrh/dotfiles/tree/trunk/item/dot-config/waybar/style.css */

* {
    border: none;
    border-radius: 0;
    font-family: Terminus, FontAwesome, sans-serif;
    font-size: 16px;
}

window#waybar {
    background: rgba(28, 28, 28, 1.0);
    color: #ebdbb2;
}

tooltip {
    background: rgba(43, 48, 59, 0.8);
    border: 1px solid rgba(100, 114, 125, 0.8);
}

tooltip label {
    color: white;
}

#workspaces button {
    color: #dfd2c4;
}

#workspaces button.persistent {
    color: #dfd2c4;
}

#workspaces button.focused {
	border-top: 3px solid #fabd2f;
}

#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: #928374;
	color: #282828;
}

#window {
    margin-left: 0px;
    margin-right: 0px;
}

#tray, #temperature, #cpu, #memory, #clock, #wireplumber {
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 3px;
}

#wireplumber {
    border-top: 3px solid #4285F4;
    color: #ebdbb2;
}

#cpu {
    border-top: 3px solid #EA4335;
    color: #ebdbb2;
}

#memory {
    border-top: 3px solid #FBBC04;
    color: #ebdbb2;
}

#clock {
    border-top: 3px solid #34A853;
    color: #ebdbb2;
}

#temperature {
    border-top: 3px solid #4285F4;
    color: #ebdbb2;
}

#tray {
    border-top: 3px solid #EA4335;
    color: #ebdbb2;
}
